<?xml version="1.0" encoding="UTF-8"?>
<YealinkIPPhoneMenu>

<MenuItem>
<Name>Internal Contacts</Name>
<URL>https://raw.githubusercontent.com/rivetnz/yealink/main/Internal.xml</URL>
</MenuItem>

<MenuItem>
<Name>External Contacts</Name>
<URL>https://raw.githubusercontent.com/rivetnz/yealink/main/External.xml</URL>
</MenuItem>

</YealinkIPPhoneMenu>
